$background-color: rgb(243, 248, 238);
$light-text: rgb(255, 255, 255);
$light-text-focus: rgb(180, 180, 180);
$icon-color: rgb(94, 94, 94);
$light-icon-color: rgb(145, 145, 145);
$delete-icon-color-hover: rgb(253, 84, 84);
$dark-text: rgb(31, 31, 31);
$background-dark-text-focus: rgb(221, 221, 221);


$odd-background-list-color: rgb(225, 233, 218);
$even-background-list-color: rgb(184, 189, 180);