body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto Condensed', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f8ee;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px), repeating-linear-gradient(0deg, transparent, transparent 50px, rgba(255, 127, 0, 0.25) 50px, rgba(255, 127, 0, 0.25) 56px, transparent 56px, transparent 63px, rgba(255, 127, 0, 0.25) 63px, rgba(255, 127, 0, 0.25) 69px, transparent 69px, transparent 116px, rgba(255, 206, 0, 0.25) 116px, rgba(255, 206, 0, 0.25) 166px), repeating-linear-gradient(-45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px, rgba(143, 77, 63, 0.25) 10px), repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(143, 77, 63, 0.25) 5px, rgba(143, 77, 63, 0.25) 10px);
}

.list {
  width: 60vw;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f3f8ee;
  border-radius: 2vw;
}

.list__title {
  color: white;
  font-family: 'Pushster', cursive;
  font-size: 3rem;
  margin: 1vh 0;
  text-align: center;
  height: 7vh;
  letter-spacing: 1.2vw;
  text-shadow: 0 0 10px #b4b4b4;
}

.list__controls {
  width: 60vw;
  margin-bottom: 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__controls .controls__add-task-box {
  margin-top: 1.5vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__controls .controls__add-task-box .add-task-box__input {
  color: #1f1f1f;
  width: 60%;
  height: 3vh;
  border: none;
  border-radius: 2vh;
  padding: 0.8vh 0.8vw;
}

.list__controls .controls__add-task-box .add-task-box__input::-webkit-input-placeholder {
  color: #b4b4b4;
}

.list__controls .controls__add-task-box .add-task-box__input:-ms-input-placeholder {
  color: #b4b4b4;
}

.list__controls .controls__add-task-box .add-task-box__input::-ms-input-placeholder {
  color: #b4b4b4;
}

.list__controls .controls__add-task-box .add-task-box__input::placeholder {
  color: #b4b4b4;
}

.list__controls .controls__add-task-box .add-task-box__input:focus {
  outline: 2px solid #b4b4b4;
}

.list__controls .controls__add-task-box .add-task-box__handle-add-button {
  color: #5e5e5e;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1vw;
  border: none;
  cursor: pointer;
}

.list__controls .controls__add-task-box .add-task-box__handle-add-button:hover {
  color: white;
  -webkit-box-shadow: 0 0 8px #5e5e5e;
          box-shadow: 0 0 8px #5e5e5e;
  background-color: #5e5e5e;
}

.list__controls .controls__info {
  width: 100%;
  text-align: center;
}

.list__controls .controls__info .info__text {
  font-weight: 400;
}

.list__controls .controls__info .info__delete-completed-button {
  border-radius: 1vh;
  margin: 0 1vw;
  border: none;
  cursor: pointer;
}

.list__controls .controls__info .info__delete-completed-button:hover {
  color: #fd5454;
}

@media screen and (max-width: 640px) {
  body {
    font-size: 1rem;
  }
  .list {
    width: 96vw;
  }
  .list__title {
    font-size: 1.8rem;
  }
  .controls__add-task-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .add-task-box__input {
    width: 420px;
    font-size: 0.8rem;
    padding: 0.8vh 0.8vw;
    margin-bottom: 1vh;
  }
}
/*# sourceMappingURL=app.css.map */